.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    /* width: 20%; */
    height: 160px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    width: 350px;
    background-color: #FA9A85;
    padding: 2px 16px;
    margin: 20px;
}

label {
    font-weight: bold;
    display: inline;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    /* width: 50%;
    height: 100px; */
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
    margin: 2%;
}

.containt {
    margin-left: 3%;
    /* text-align: center; */
}

button {
    margin: 5px;
}

input {
    border: none;
    background-color: #FA9A85;
    display: inline;
    width: 150px;
    margin: 0px 10px;
}

.snakbar {
    display: inline-block;
    height: 500px;
    width: 250px;
    right: 0px;
}

.searchBar {
    text-align: right;
}

.searchBar input,
.searchBarBtn {
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    margin: 0px 2px;
}

select {
    background-color: #FA9A85;
    border: 1px solid;
    border-radius: 5px;
    margin: 0px 5px;
}